// ----------------------------------------
// All Index Pages
// ----------------------------------------

.index-item {
  margin-bottom: 64px;
}

.media-object {
  width: 256px;
  height: 256px;
}

.media,
.media-body {
  overflow: visible;
}

.media-heading a {
  @include transition-border-y;
}

.media-left a .img-circle {
  border: 4px solid $primary;
  @include transition(border-radius 300ms ease-in-out);
}

.media-left a:focus .img-circle,
.media-left a:active .img-circle,
.media-left a:hover .img-circle{
  border-radius: 5%;
  @include transition(border-radius 300ms ease-in-out);
}


@media only screen and (max-width: $tablet-width) {
  .media-body,
  .media-left,
  .media-right {
    display: block;
  }

  .media-left {
    margin-bottom: 2em;
  }

  .media-body {
    width: auto;
  }

  .media-object {
    margin: 0 auto;
  }
}



