// ----------------------------------------
// All Index Pages
// ----------------------------------------

.index-item {
  margin-bottom: 64px;

  .media-object {
    width: 128px;
    height: 128px;
  }
}

.media,
.media-body {
  overflow: visible;
}

.media-heading a {
  @include transition-border-y;
}


@media only screen and (max-width: $tablet-width) {
  .media-body,
  .media-left,
  .media-right {
    display: block;
  }

  .media-left {
    margin-bottom: 2em;
  }

  .media-body {
    width: auto;
  }
}



