// ----------------------------------------
// All Index Pages
// ----------------------------------------

.index-item {
  margin-bottom: 64px;

  .media-object {
    width: 128px;
    height: 128px;
  }
}

.media,
.media-body {
  overflow: visible;
}

.media-heading a {
  @include transition-border-y;
}






