// ----------------------------------------
// Pagination
// ----------------------------------------

.pagination > li > a {
  font-size: 24px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: transparent;
  color: $light;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary;
    color: $light;
  }
}










