// ----------------------------------------
// Text
// ----------------------------------------

.text-dark {
  color: $dark;

  a {
    color: $primary;
    font-weight: bold;
    
    &:hover,
    &:focus
    &:active {
      color: darken($primary, 10%);
      outline: none;
      text-decoration: none;
    }
  }

}


.text-light {
  color: $light;

  a {
    background: $primary;
    font-weight: bold;
    
    &:hover,
    &:focus
    &:active {
      background: darken($primary, 10%);
      outline: none;
      text-decoration: none;
    }
  }
}








