<div class="media post index-item">
  <div class="media-left">
    <a href="/{{ post.slug }}">
      <img class="media-object img-circle" ng-src="{{ post.image.url }}" alt="Image">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      <a ng-href="/{{ post.slug }}">
        {{ post.title }}
      </a>
      <br>
      <small>
        <i class="fa fa-calendar"></i>
        {{ post.date | toDate | date: 'EEEE MMMM d, yyyy' }}
      </small>
    </h4>
    <p class="categories">
      <i class="fa fa-columns"></i>
      <span ng-repeat="category in post.categories">
        <a class="category" href="" ng-click="setQ(category)">
          {{ category }}
        </a>
        <span ng-if="!$last">, </span>
      </span>
    </p>
    <p class="tags">
      <i class="fa fa-tags"></i>
      <span ng-repeat="tag in post.tags">
        <a class="tag" href="" ng-click="setQ(tag)">
          #{{ tag }}
        </a>
        <span ng-if="!$last">, </span>
      </span>
    </p>
    <div class="excerpt" ng-bind-html="post.excerpt"></div>
  </div>
</div>

