<!-- Footer -->
<footer id="main-footer">

  <!-- Site Map -->
  <div class="site-map">
    
    {% for page in site.data.pages %}

      <a href="/{{ page.slug }}">{{ page.title }}</a>

    {% endfor %}

  </div>

  <!-- Social Links -->
  <div class="social-links">

    {% for social_network in site.data.social_networks %}

      <a href="{{ social_network.url }}">
        <i class="fa fa-{{ social_network.icon }}"></i>
      </a>

    {% endfor %}

  </div>


  <!-- Copyright -->
  <div class="copyright">
    {{ site.title }} &copy; 2016
  </div>

</footer>

