<!-- My JavaScripts -->
<script src="/js/media.js"></script>

<!-- My Angular -->
<script src="/js/angular/app.js"></script>

<!-- Directives -->
<script src="/js/angular/directives/archiveDirective.js"></script>
<script src="/js/angular/directives/categoryDirective.js"></script>
<script src="/js/angular/directives/postDirective.js"></script>
<script src="/js/angular/directives/resizerDirective.js"></script>
<script src="/js/angular/directives/tagDirective.js"></script>

<!-- Controllers -->
<script src="/js/angular/controllers/BlogCtrl.js"></script>



