<!-- Device/Browser Meta -->
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Site Meta -->
<meta name="author" content="{{ site.author }}">
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">


<!-- Title -->
<title>
  {% if page.title %}
    {{ page.title | escape }}
  {% else %}
    {{ site.title | escape }}
  {% endif %}
</title>


<!-- Open Graph -->
<meta name="twitter:card" content="summary_large_image"/>
{% for social_network in site.data.social_networks %}
  {% if social_network.name == 'twitter' %}
    <meta name="twitter:site" content="@{{ social_network.username }}"/>
    <meta name="twitter:creator" content="@{{ social_network.username }}"/>
  {% endif %}
{% endfor %}

<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}"/>
<meta property="og:site_name" content="{{ site.title }}"/>
<meta property="og:url" content="{{ site.hostname }}{{ page.url}}"/>
<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}"/>
<meta property="og:image" content="{% if page.image %}{{ page.image.url }}{% else %}{{ site.logo.full.url }}{% endif %}"/>
<meta property="og:image:width" content="512"/>
<meta property="og:image:height" content="512"/>





<!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Angular -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="//code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Bootstrap JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Font Awesome -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- My Fonts -->
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<!-- My Styles -->
<link rel="stylesheet" href="/css/main.css">

<!-- MediaElement -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.18.2/mediaelementplayer.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/mediaelement/2.18.2/mediaelement-and-player.js"></script>







