// ----------------------------------------
// Post
// ----------------------------------------


#posts-show {
  .post-image {
    max-width: 768px;
    &,
    img {
      margin: 0 auto;
    }
    img {
      border-radius: 4px;
    }
  }

  article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }

    ul,
    ol {
      font-weight: bold;
    }

    li {
      margin-bottom: 0.5em;
    }

    ul,
    ol,
    blockquote,
    q {
      margin-bottom: 2em;
    }

    ul,
    ol,
    blockquote,
    q,
    p,
    p img {
      margin-left: auto;
      margin-right: auto;
    }
    p {
      text-indent: 2em;
    }
    p img {
      margin-left: -2em;
    }

    pre.highlight {
      margin: 2em auto;
    }
  }
}


