// ----------------------------------------
// Settings
// ----------------------------------------

@mixin transition($value) {
  transition: $value;
  -o-transition: $value;
  -moz-transition: $value;
  -webkit-transition: $value;
}

@mixin transition-border {
  border: 0 solid $light;
  @include transition(border-width 300ms ease-in-out);

  &:hover,
  &:focus,
  &:active {
    background: transparent;
    @include transition(border-width 300ms ease-in-out);
  }
}

@mixin transition-border-x {
  @include transition-border;
  &:hover,
  &:focus,
  &:active {
    border-left-width: 4px;
    border-right-width: 4px;
  }
}

@mixin transition-border-y {
  @include transition-border;
  &:hover,
  &:focus,
  &:active {
    border-top-width: 4px;
    border-bottom-width: 4px;
  }
}

@mixin gradient-bg-image($url, $selector: body) {
  #{$selector} {
    background-image:
      radial-gradient(
        circle,
        rgba(0, 0, 0, 0.9),
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.5)
      ),
      url("#{$url}");
  }
}




