// ----------------------------------------
// Settings
// ----------------------------------------

// Colors
$light: #eee;
$dark: #111;
$primary: #5996D6;
$success: #64FF4A;
$info: #7FE2FF;
$warning: #FFE541;
$danger: #FF4D4C;

// Widths
$tablet-height: 1024px;
$tablet-width: 768px;
$phone-height: 480px;
$phone-width: 320px;

