---
layout: default
---

<!-- Header Site Title -->
<header class="page-header text-center">
  <h1 class="site-title" itemprop="name headline">
    <a href="{{ page.url }}">
      {{ page.title }}
    </a>
  </h1>
  <h2>
    Posted on <i class="fa fa-calendar"></i>
    <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">  {{ page.date | date: "%b %-d, %Y" }}
    </time>
    {% if page.author %}
      <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        <span itemprop="name">
        {{ page.author }}
        </span>
      </span>
    {% endif %}
  </h2>
</header>

<div class="row text-dark">
  <div class="col-xs-10 col-xs-offset-1 well">
    <div class="post-image">
      <img class="img-responsive" src="{{ page.image.url }}" alt="Image">
    </div>

    <article itemscope itemtype="http://schema.org/BlogPosting">
      <div itemprop="articleBody">
        {{ content }}
      </div>
    </article>

    {% include disqus.html %}
  </div>
</div>

